<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.nopattern.cordova.gfk"
    version="0.0.1">
    <name>GFKPlugin</name>
    <description>GFK metrics plugin for cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,GFK</keywords>

  <js-module src="www/gfk.js" name="gfk">
    <clobbers target="cordova.plugins.GFKPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GFKPlugin">
        <param name="android-package" value="net.nopattern.cordova.gfk.GFKPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- src -->


    <!-- libs -->

  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="GFKPlugin">
        <param name="ios-package" value="GFKPlugin" onload="true" />
      </feature>
    </config-file>

    <!-- src -->
    <header-file src="src/ios/GFKPlugin.h" />
    <source-file src="src/ios/GFKPlugin.m" />

    <!-- libs -->
    <header-file src="src/ios/libs/SSA_iOS_PBI_SDK/Agent.h" />
    <header-file src="src/ios/libs/SSA_iOS_PBI_SDK/SSA.h" />
    <source-file src="src/ios/libs/SSA_iOS_PBI_SDK/libSSA.a" framework="true" compiler-flags="-ObjC"  />

    <header-file src="src/ios/libs/SST_iOS_PBI_SDK/SST.h" />
    <source-file src="src/ios/libs/SST_iOS_PBI_SDK/libSST.a" framework="true" compiler-flags="-ObjC"  />
  </platform>

</plugin>
