<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.nopattern.cordova.gfk"
    version="0.0.1">
    <name>GFKPlugin</name>
    <description>GFK metrics plugin for cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,GFK,SSA,SST,Gemius,GemiusTraffic,GemiusStream</keywords>

  <js-module src="www/gfk.js" name="gfk">
    <clobbers target="cordova.plugins.GFKPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GFKSSTPlugin">
        <param name="android-package" value="net.nopattern.cordova.gfk.GFKSSTPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- src -->
    <source-file src="src/android/GFKSSTPlugin.java" target-dir="src/net/nopattern/cordova/gfk" />

    <!-- libs -->
    <framework src="src/android/sst-lib.gradle" custom="true" type="gradleReference" />

    <resource-file src="src/android/libs/sst-1.7.3.aar" target="libs/sst-1.7.3.aar" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <framework src="AdSupport.framework" weak="true" />

    <config-file target="config.xml" parent="/*">
      <feature name="GFKSSAPlugin">
        <param name="ios-package" value="GFKSSAPlugin" onload="true" />
      </feature>
      <feature name="GFKSSTPlugin">
        <param name="ios-package" value="GFKSSTPlugin" onload="true" />
      </feature>
    </config-file>

    <!-- src -->
    <header-file src="src/ios/GFKSSAPlugin.h" />
    <source-file src="src/ios/GFKSSAPlugin.m" />
    <header-file src="src/ios/GFKSSTPlugin.h" />
    <source-file src="src/ios/GFKSSTPlugin.m" />

    <!-- libs -->
    <header-file src="src/ios/libs/SSA_iOS_PBI_SDK/Agent.h" />
    <header-file src="src/ios/libs/SSA_iOS_PBI_SDK/SSA.h" />
    <source-file src="src/ios/libs/SSA_iOS_PBI_SDK/libSSA.a" framework="true" compiler-flags="-ObjC"  />

    <header-file src="src/ios/libs/SST_iOS_PBI_SDK/SST.h" />
    <source-file src="src/ios/libs/SST_iOS_PBI_SDK/libSST.a" framework="true" compiler-flags="-ObjC"  />
  </platform>

</plugin>
