<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="net.nopattern.cordova.gfk"
    version="0.0.1">
    <name>GFKPlugin</name>
    <description>GFK metrics plugin for cordova</description>
    <license>Apache 2.0</license>
    <keywords>Cordova,GFK</keywords>

  <js-module src="www/gfk.js" name="gfk">
    <clobbers target="cordova.plugins.GFKPlugin" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="GFKPlugin">
        <param name="android-package" value="net.nopattern.cordova.gfk.GFKPlugin" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <!-- src -->


    <!-- libs -->

  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BrightcovePlayerPlugin">
        <param name="ios-package" value="BrightcovePlayerPlugin" onload="true" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIViewControllerBasedStatusBarAppearance">
      <false/>
    </config-file>

    <!-- src -->


    <!-- libs -->

  </platform>

</plugin>
